---
import Layout from "../layouts/Layout.astro";
import Proyectos from "../layouts/Proyectos.astro";
import Lenguajes from "../layouts/Lenguajes.astro";
import Cardprofile from "../layouts/Cardprofile.astro";
---

<Layout title="Home">
  <div
    class="flex flex-col bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] text-white"
  >
    <!-- PRESENTACION -->
    <section class="w-full h-screen py-12 md:py-24 lg:py-32 text-center">
      <div class="flex flex-col items-center mx-5">
        <div class="space-y-2">
          <h1
            class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-left"
          >
            Hola, <br> 
          </h1>
          <h1 class="animate-typing overflow-hidden whitespace-nowrap border-r-4 border-r-white h-16 pr-5 text-5xl text- font-bold">
            Soy Kevin Salinas
          </h1>
          
        </div>
        <div class="">
          <p
            class="mx-auto max-w-[600px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed dark:text-gray-400 my-10"
          >
            Estudiante avanzado de Tecnicatura en Programacion y estudiante de Lic. en Ciencias de la computacion. <br />
            Buscando mi primera experiencia laboral.
          </p>
        </div>
      <div class="flex justify-center my-52">
        <Cardprofile nombre="Kevin Salinas" ocupacion="Fullstack Dev" github="https://www.github.com/Kewsito" linkedin="https://www.linkedin.com/in/kewsito/" instagram="https://www.instagram.com/Kevinsalinas4" curriculum="https://drive.google.com/file/d/1EeFo4Tw6tbl9xwEt8yPBEr58UwTrktzG/view?usp=sharing">
      </div>
      </div>
    </section>
    <!-- PRESENTACION -->

    <!-- MIS PROYECTOS-->
    <section class="w-full py-12 md:py-24 lg:py-32">
      <div class="items-center gap-4 px-4 text-center md:px-6 lg:gap-10">
        <div class="space-y-2">
          <h2
            class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl"
          >
            Mis Proyectos
          </h2>
          <p
            class="mx-auto max-w-[600px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed dark:text-gray-400 transition duration-300"
          >
            Aqui hay algunos proyectos en los que estuve trabajando. <br
            />Queres ver mas? Visita mi
            <a
              href="https://github.com/Kewsito"
              target="_blank"
              class="font-display max-w-sm leading-tight"
            >
              <span class="link link-underline link-underline-black">
                GitHub.</span
              >
            </a>
          </p>
        </div>
      </div>
      <div
        class="mx-auto w-auto max-w-5x1 grid items-center py-12 lg:grid-cols-4 lg:gap-6 md:w-auto md:m-10 md:p-5 md:grid-cols-2 md:gap-10 sm:w-auto sm:grid-cols-2 sm:m-10 sm:gap-10" 
      >
        <Proyectos
          title="uStock"
          description="Un programa realizado en Python con TKinter y base de datos en SQLite"
          vinculo="https://github.com/Kewsito/uStock"
        />

        <Proyectos
          title="iVenX"
          description="Extension conectada a una API que genera los precios en tiempo real de criptomonedas."
          vinculo="https://github.com/Kewsito/iVenX---Extension-price-cryptocurrency"
        />

        <Proyectos
          title="QRAnalytics"
          description="Aplicacion de escritorio desarrollada en Flet, SQLite, API Google y Python. Su principal funcion es transformar un PDF de tipo encuesta y lo sube Google Forms."
          vinculo="https://github.com/Kewsito/QRAnalytics"
        />

        <Proyectos
          title="AK Indumentaria"
          <Proyectos
            title="AK Indumentaria"
            description="Marketplace de ropa y accesorios con funcionalidades de búsqueda, filtrado y carrito de compras."
            vinculo="https://github.com/Kewsito/AK-Indumentaria-WebDev"
          />

        <Proyectos
          title="Schedule Generator"
          description="Aplicación web que genera los horarios de clases para estudiantes universitarios."
          vinculo="https://github.com/Kewsito/ScheduleGenerator"
        />
      </div>
      <!-- MIS PROYECTOS-->
    </section>
    <!-- MIS PROYECTOS-->

    <!-- SOBRE MI -->
  <!-- SOBRE MI -->
  <section class="w-full py-12 md:py-24 lg:py-32">
      <div class="items-center gap-4 px-4 text-center md:px-6 lg:gap-10">
        <div class="space-y-2">
          <h2
            class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl"
          >
            Tecnologias
          </h2>
          <p
            class="mx-auto max-w-[600px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed dark:text-gray-400"
          >
            Estas son algunas de las tecnologias con las que trabajo. <br></p>
        </div>

        <div class="mx-auto w-auto grid max-w-5xl items-start gap-6 py-12 lg:grid-cols-4 lg:gap-12 md:w-auto md:grid-cols-4 sm:grid-cols-2">
        <Lenguajes nombreLenguaje="HTML" icono="https://img.icons8.com/color/144/html-5--v1.png"/>
        <Lenguajes nombreLenguaje="PYTHON" icono="https://img.icons8.com/color/144/python--v1.png"/>
        <Lenguajes nombreLenguaje="JAVASCRIPT" icono="https://img.icons8.com/color/144/javascript--v1.png"/>
        <Lenguajes nombreLenguaje="SQL" icono="https://img.icons8.com/external-tal-revivo-light-tal-revivo/96/external-postgre-sql-a-free-and-open-source-relational-database-management-system-logo-light-tal-revivo.png"/>
        <Lenguajes nombreLenguaje="DJANGO" icono="https://img.icons8.com/ios/50/django.png"/>
        <Lenguajes nombreLenguaje="CSS" icono="https://img.icons8.com/color/144/css3.png"/>
        <Lenguajes nombreLenguaje="TAILWIND" icono="https://img.icons8.com/color/144/tailwind_css.png"/>
        <Lenguajes nombreLenguaje="C++" icono="https://img.icons8.com/fluency/144/c-plus-plus-logo.png"/>
        <Lenguajes nombreLenguaje="BOOTSRAP" icono="https://img.icons8.com/ios/50/bootstrap.png"/>
        <Lenguajes nombreLenguaje="HASKELL" icono="https://img.icons8.com/color/144/haskell.png"/>
        <Lenguajes nombreLenguaje="PROLOG" icono="https://static-00.iconduck.com/assets.00/prolog-icon-457x512-lpi8e1ff.png"/>
        <Lenguajes nombreLenguaje="DART" icono="https://img.icons8.com/color/144/dart.png"/>
        <Lenguajes nombreLenguaje="FLET PYTHON" icono="https://raw.githubusercontent.com/flet-dev/flet/main/media/logo/flet-logo.svg"/>
        <Lenguajes nombreLenguaje="GIT" icono="https://img.icons8.com/color/144/git.png"/>
        <Lenguajes nombreLenguaje="ASTRO" icono="https://img.icons8.com/nolan/144/astro.png"/>
        <Lenguajes nombreLenguaje="FLASK" icono="https://img.icons8.com/cute-clipart/144/flask.png"/>

        </div>
        
      </div>
  </section>
  <!-- SOBRE MI -->


</div>


</Layout>
