---
import '../styles/global.css';

interface Props {
	title?: string;
}

const { title = "Kevin Salinas Portfolio" } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-P7PE12FK3X" is:inline></script>
		<script type="module" src="/anime.js"></script>
		<script type="module" src="/theme-toggle.js"></script>
		
        <script is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag(){window.dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-P7PE12FK3X');
        </script>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

	</head>
	<body class="font-sans">
		<slot />
	</body>
</html>
