---
import Layout from "./Layout.astro";

interface Props {
    nombreLenguaje: string;
    icono: string
}

const { nombreLenguaje, icono } = Astro.props;

---

<Layout>
    <div class="justify-center rounded-xl">
        
        <img src={icono} alt={nombreLenguaje}  class="mx-auto w-20 h-20"/>
    </div>
</Layout>